[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "our_project/googletest"]
	path = our_project/googletest
	url = https://github.com/google/googletest.git
[submodule "homeworks/homework_4/no_strings_attached/external/googletest"]
	path = homeworks/homework_4/no_strings_attached/external/googletest
	url = https://github.com/google/googletest.git
